$purple: #6777ef;
$primary-main: $purple;
$secondary-main: #cdd1f9;
$border-color: #dee2e6;
$searchBar-color: #f0f3ff;
$red: red;
$gray: gray;
$blue: #007bff;
$progress-red: #ff7b89;
$progress-purple: #6545eb;
$progress-blue: #0d70fd;
$progress-green: #2a9d8f;
$progress-orange: #f8961e;
$white: white;
$error-red: #FC544B;
$error-red-fill: #FFEDEC;
$black: #000;

$error-green: #00B954;
$error-green-fill: #EBFAF1;

$error-orange: #F8961E;
$error-orange-fill: #FFF3E6;

$error-blue: #0D70FD;
$error-blue-fill: #E6F0FF;

$dot-red: #F3565D;
$dot-orange: #fe9701;
$dot-blue: #00bcd4;
$dot-green: #1bbc9b;
$dot-pink: #DC35A9;
$dot-purple: #9b59b6;
$dot-dark-blue: $purple;
$dot-dark-green: #78938A;
$dot-emerald: #6190AF;
$dot-gray: #878B99;
$dot-dark-orange: #CC704B;
$dot-light-pink: #fb6f92;
$black: #212529;
$secondary-bg: #f1f1f1;

$gray: gray;

$text-primary: #6c757d;
$light-steel: #ebf1f5;
$white-smoke: #f5f5f5;
