﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EmailReceived.aspx.cs" Inherits="MEETING_MANAGEMENT_EmailReceived" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   <%-- <asp:Label ID="lblName" runat="server" Text=""></asp:Label>--%>       
        <h2>Thank You Very Much For Giving Confirmation Of Receiving Of Mail.</h2>
    </div>

       
    </form>
</body>
</html>
