﻿.course-card {
    background: #e7ebeea3;
    border-radius: 4px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
    height: 134px;

    &:hover {
        box-shadow: 0px 10px 10px #494B5B21;
    }

    .course-card-img {
        height: 90px;
        width: 90px;
        display: flex;
        justify-content: center;
        background: #fff;
        align-items: center;

        i {
            font-size: 45px;
        }
    }

    .course-card-content {
        width: 66%;

        h5 {
            //margin-top: 8px;
            font: normal normal normal 14px/19px Nunito;
            color: $purple;
            text-align: left;
            margin-bottom: 0;
        }

        h6 {
            margin-top: 6px;
            font: normal normal normal 14px/19px Nunito;
            text-align: left;
            color: #202020;
        }

        p {
            margin-top: 6px;
            font: normal normal normal 12px/16px Nunito;
            text-align: left;
            color: #8796A5;
            margin-bottom: 0;
        }

        
    }
}
.course-card-icon {
    margin-top: 10px;

    i {
        padding: 0 12px 0 0;
        color: #8796A5;
        font-size: 15px;
        position: relative;
    }

    .course-card-assignment {

        span {
            font-style: normal;
            width: 12px;
            height: 12px;
            background: #F8961E;
            border-radius: 5px;
            display: flex;
            font-size: 9px;
            color: #fff;
            position: absolute;
            top: -6px;
            left: 9px;
            align-items: center;
            justify-content: center;
        }
    }

    .course-card-discussion {
        span {
            font-style: normal;
            width: 12px;
            height: 12px;
            background: #6777EF;
            border-radius: 5px;
            display: flex;
            font-size: 9px;
            color: #fff;
            position: absolute;
            top: -6px;
            left: 9px;
            align-items: center;
            justify-content: center;
        }
    }

    .course-card-quiz {
        span {
            font-style: normal;
            width: 12px;
            height: 12px;
            background: #98CA3C;
            border-radius: 5px;
            display: flex;
            font-size: 9px;
            color: #fff;
            position: absolute;
            top: -6px;
            left: 9px;
            align-items: center;
            justify-content: center;
        }
    }

    .course-card-announcement {
        span {
            font-style: normal;
            width: 12px;
            height: 12px;
            background: #FF4500;
            border-radius: 5px;
            display: flex;
            font-size: 9px;
            color: #fff;
            position: absolute;
            top: -6px;
            left: 9px;
            align-items: center;
            justify-content: center;
        }
    }

    .course-card-poll {
        span {
            font-style: normal;
            width: 12px;
            height: 12px;
            background: #0D70FD;
            border-radius: 5px;
            display: flex;
            font-size: 9px;
            color: #fff;
            position: absolute;
            top: -6px;
            left: 9px;
            align-items: center;
            justify-content: center;
        }
    }
}