.edit-controls .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
        margin-top: 10px;
}
   .edit-controls .btn-default {
    border-color: #d9d9d9;
    background-image: linear-gradient(#ffffff, #f2f2f2);
}
   .edit-controls .btn-xs {
    font-size: .80em;
    padding: 0.25em 0.75em;
}
   .edit-controls .btnEditor {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    border-bottom: 0.15em solid whitesmoke;
    padding: 0.65em 1.3em;
}
   .edit-controls .btn-group .fa {
    font-size: 18px;
}