


.dc-normal[contenteditable="true"]:active,
.dc-normal[contenteditable="true"]:focus{
  border:none;
  outline:none;
}
.dc-reset{
    color:gray;
    &:hover{
        color:$purple;
        cursor:pointer;
    }
}

table.table{
    tbody{
        tr{
            td.dc-normal{
                border:1px solid transparent !important;
                // border-radius:10px;
                &:hover{
                    border:1px dotted $secondary-main !important;
                }
                &:focus{
                    border:1px solid $purple !important;
                }
            }
            td.dc-required,td.dc-romanize,td.dc-regex,td.dc-date-error{
                border:1px solid $error-red !important;
                background-color:$error-red-fill !important;
                border-bottom:1px solid $error-red !important;
            }
            
            td.dc-success,td.dc-replace-success{
                border:1px solid $error-green !important;
                background-color:$error-green-fill !important;
                border-bottom:1px solid $error-green !important;
            }
            
            td.dc-warning,td.dc-warn-master,td.dc-unique,td.dc-length{
                border:1px solid $error-orange !important;
                background-color:$error-orange-fill !important;
                border-bottom:1px solid $error-orange !important;
            }
            td.dc-pending-master{
                border:1px solid $error-blue !important;
                background-color:$error-blue-fill !important;
                border-bottom:1px solid $error-blue !important;
            }
        }
    }
}


button#rightScrollBtn {
    display:none;
    position: fixed;
    bottom: 10px !important;
    right: 55px;
}
button#rightScrollBtn,button#leftScrollBtn{
    font-size: 25px;
    background: white;
    border: none;
    color: $error-blue;
    border-radius: 0.5rem;
    z-index:1500;
    transition: all 0.2s ease-in;
    i{
        position: relative;
        top: 2px;
    }
    &:hover{
        background: $error-blue-fill;        
    }
}

button#leftScrollBtn {
    display: none;
    position: fixed;
    bottom: 10px !important;
}

#cleaningTable th {
    position: sticky;
    top: 0;
    z-index:1500;
    &:hover{
        cursor:pointer;
    }
}
#scrollTable{ 
    max-height:560px;
    
    &:hover{
        button#leftScrollBtn,button#rightScrollBtn{
            display:inline-block;
        }
    }
}

#scrollTable,.dc-find-replace-modal{
    .select2-container .select2-selection--multiple, .select2-container .select2-selection--single{
        min-height: 20px;
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow{
        min-height: 20px;
        width: 20px;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__arrow{
        min-height: 20px;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        min-height: 20px;
        line-height:25px;
		padding-left: 10px;
    }
}


.dc-find-replace-modal{
    .modal-header{
        padding: 7px 20px;
        &:hover{
            cursor:move;
        }
    }
    .modal-body{
        padding: 5px 20px;
    }
    .modal-footer{
        padding: 0px 20px 10px 20px
    }    
    .dc-input{
        padding: 5px 10px !important;
        height: 30px !important;
    }
    .nav-link{
        padding: 0.1rem 0.6rem;
    }
}


@media (min-width:1367px){
    #scrollTable{ 
        max-height:900px;
        
    }
}