body {
  padding: 0;
  overflow-x: hidden;
}
body .login-page .top-bg-img {
  display: none;
}
body .login-page .bottom-bg-img {
  display: none;
}
@media only screen and (min-width: 600px) {
  body .login-page .top-bg-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 229px;
    width: 560px;
  }
  body .login-page .bottom-bg-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 785px;
    height: 516px;
  }
}
body .nav-custom {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 10px rgba(32, 32, 32, 0.16);
  border-radius: 0px 0px 0px 100px;
  height: 71px;
  top: 0px;
  position: absolute;
  z-index: 10;
  width: 91%;
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  right: 0;
}
body .nav-custom .nav-icon {
  flex-direction: row;
  display: flex;
  width: 33%;
}
body .brand-icons {
  margin: 10px 13px 9px 12px;
  width: 33px;
  height: 33px;
  background: #6777EF 0% 0% no-repeat padding-box;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .brand-icons a {
  color: #fff;
}
body .brand-icons a i {
  margin: 0;
}
body .login-box {
  margin-top: 150px;
}
body .login-box .card {
  z-index: 9;
}
body .login-box .card .captcha_img {
  width: 95%;
  border-radius: 6px;
  height: 40px;
}
body .mobile-display {
  display: none;
}
@media only screen and (max-width: 600px) {
  body .nav-custom {
    display: none;
  }
  body .mobile-display {
    display: flex;
    justify-content: center;
    padding: 24px 0;
  }
  body .login-box {
    margin-top: 0;
  }
}
body .toUppercase {
  text-transform: uppercase;
}

.field-validation-error {
  color: red;
  bottom: -18px;
  position: absolute;
  font-size: 12px;
}

.theme-white .top-bg-img img, .theme-white .bg-svg {
  filter: invert(41%) sepia(41%) saturate(2749%) hue-rotate(217deg) brightness(102%) contrast(87%);
}

.theme-cyan .top-bg-img img, .theme-cyan .bg-svg {
  filter: invert(68%) sepia(86%) saturate(339%) hue-rotate(117deg) brightness(89%) contrast(84%);
}

.theme-black .top-bg-img img, .theme-black .bg-svg {
  filter: invert(21%) sepia(7%) saturate(1587%) hue-rotate(179deg) brightness(93%) contrast(87%);
}

.theme-purple .top-bg-img img, .theme-purple .bg-svg {
  filter: invert(40%) sepia(33%) saturate(994%) hue-rotate(195deg) brightness(92%) contrast(91%);
}

.theme-orange .top-bg-img img, .theme-orange .bg-svg {
  filter: invert(79%) sepia(31%) saturate(5011%) hue-rotate(344deg) brightness(100%) contrast(104%);
}

.theme-green .top-bg-img img, .theme-green .bg-svg {
  filter: invert(74%) sepia(11%) saturate(2490%) hue-rotate(92deg) brightness(82%) contrast(102%);
}

.theme-red .top-bg-img img, .theme-red .bg-svg {
  filter: invert(40%) sepia(87%) saturate(745%) hue-rotate(318deg) brightness(95%) contrast(93%);
}

.theme-light-blue .top-bg-img img, .theme-light-blue .bg-svg {
  filter: invert(84%) sepia(15%) saturate(727%) hue-rotate(179deg) brightness(102%) contrast(102%);
}

.theme-white .brand-icons {
  background: #6777EF 0% 0% no-repeat padding-box;
}

.theme-cyan .brand-icons {
  background: #3dc7be 0% 0% no-repeat padding-box;
}

.theme-black .brand-icons {
  background: #343a40 0% 0% no-repeat padding-box;
}

.theme-purple .brand-icons {
  background: #6777ef 0% 0% no-repeat padding-box;
}

.theme-orange .brand-icons {
  background: #ffa117 0% 0% no-repeat padding-box;
}

.theme-green .brand-icons {
  background: #4caf4f 0% 0% no-repeat padding-box;
}

.theme-red .brand-icons {
  background: #ea5455 0% 0% no-repeat padding-box;
}

.theme-light-blue .brand-icons {
  background: #C2E7FF 0% 0% no-repeat padding-box;
}

body .brand-icons a:hover {
  color: #fff !important;
}

body.theme-light-blue .brand-icons a {
  color: #001d35 !important;
}

.bottom-bg-img img.img-fluid {
  position: relative;
}

.bottom-bg-img img.img-fluid {
  right: 0;
  bottom: 0;
  position: absolute;
}

body:not(.sidebar-mini).theme-white .sidebar-style-2 .sidebar-menu > li.active > a {
  color: #6777EF;
}

.light-sidebar.theme-white .main-sidebar .sidebar-menu li.active a {
  background-color: rgba(103, 119, 239, 0.11);
}

body:not(.sidebar-mini).theme-cyan .sidebar-style-2 .sidebar-menu > li.active > a {
  color: #3dc7be;
}

.light-sidebar.theme-cyan .main-sidebar .sidebar-menu li.active a {
  background-color: rgba(61, 199, 190, 0.11);
}

body:not(.sidebar-mini).theme-black .sidebar-style-2 .sidebar-menu > li.active > a {
  color: #343a40;
}

.light-sidebar.theme-black .main-sidebar .sidebar-menu li.active a {
  background-color: rgba(52, 58, 64, 0.11);
}

body:not(.sidebar-mini).theme-purple .sidebar-style-2 .sidebar-menu > li.active > a {
  color: #6777EF;
}

.light-sidebar.theme-purple .main-sidebar .sidebar-menu li.active a {
  background-color: rgba(103, 119, 239, 0.11);
}

body:not(.sidebar-mini).theme-orange .sidebar-style-2 .sidebar-menu > li.active > a {
  color: #ffa117;
}

.light-sidebar.theme-orange .main-sidebar .sidebar-menu li.active a {
  background-color: rgba(255, 161, 23, 0.11);
}

body:not(.sidebar-mini).theme-green .sidebar-style-2 .sidebar-menu > li.active > a {
  color: #4caf4f;
}

.light-sidebar.theme-green .main-sidebar .sidebar-menu li.active a {
  background-color: rgba(76, 175, 79, 0.11);
}

body:not(.sidebar-mini).theme-red .sidebar-style-2 .sidebar-menu > li.active > a {
  color: #ea5455;
}

.light-sidebar.theme-red .main-sidebar .sidebar-menu li.active a {
  background-color: rgba(234, 84, 85, 0.11);
}

.theme-light-blue .btn-primary {
  box-shadow: 0 2px 6px rgba(194, 231, 255, 0.5215686275);
  background-color: #C2E7FF;
  border-color: #C2E7FF;
  color: #001d35;
}

.theme-light-blue .btn-primary:hover {
  background-color: #e2f1fb !important;
  border-color: #e2f1fb !important;
}

.theme-light-blue .card.card-primary {
  border-top: 2px solid #C2E7FF;
}

.theme-light-blue a {
  color: #C2E7FF;
}/*# sourceMappingURL=login.css.map */