.accordion {
    .accordion-header{
        padding: 1px 1px;
        background-color:#f9f9f9;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-bottom: 10px;
    }
    // .accordion-body{
    //     margin-top: -10px;
    // }
    .accordion-button{
        padding: 10px 15px;
        border-radius: 5px;
        background-color:#f9f9f9;
        color:#758489;
        font-weight: bold;
        &::before{
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: 1.25rem;
            height: 1.25rem;
            margin-right:10px;
            //margin-left: auto;
            transform: rotate(-90deg);
            content: "";
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23758489'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 1.25rem;
            -webkit-transition: -webkit-transform .2s ease-in-out;
            transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
            transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
        }
        &:hover{
            color:$purple;
        }
        &:focus,&:active{
            box-shadow:none !important;
        }
        &::after{
            display: none;
        }
        &:not(.collapsed) {
            color: $white;
            background-color: $purple;
        }
        &:not(.collapsed)::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
    .accordion-item{
        border: none;
        box-shadow: rgba(17, 17, 26, 0.10) 0px 0px 16px;
    } 
    .accordion-header-icon{
        font-size: 25px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color:$white;
    }   
}

.accordion-flush .accordion-collapse {
    border: 1px solid $purple;
    border-top: none;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -11px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}