/**
* TODO: basic layout 1 colors old colors******************
*/
/**
*Primary bg behind everything
*/
/**
* TODO: Primary colors
*/
/**
*Modal backdrop color
*/
/**
* TODO: Table values and colors
*/
/**
*Modal Classes
*/
/**
*Modal Mixins
**/
.dropdown-menu.savedFilterListUL {
    max-height:250px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.show {
    display: block !important;
}

.show-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-grid {
  display: -ms-grid;
  display: grid;
}

.hide {
  display: none !important;
}

.hide-visible {
  visibility: hidden;
}

:focus {
  outline: none;
}

:disabled {
  background-color: transparent;
}

/**
 * Multiple Select2
 */
.select2-container--material {
  width: 100% !important;
  font-family: 'Roboto', sans-serif;
  /**
     * Textbox
     */
  /**
     * Dropdown
     */
  /**
     * Options
     */
  /**
     * Focused textbox
     */
  /**
     * Disabled textbox
     */
}

.select2-container--material ::-webkit-input-placeholder {
  color: inherit;
}

.select2-container--material :-ms-input-placeholder {
  color: inherit;
}

.select2-container--material ::-ms-input-placeholder {
  color: inherit;
}

.select2-container--material ::placeholder {
  color: inherit;
}

.select2-container--material .select2-selection {
  /* @extend input */
  overflow: visible;
  font: inherit;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  margin: 0;
  line-height: inherit;
  border-radius: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* @extend .form-control */
  display: block;
  width: 100%;
  color: grey;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  margin-top: .2rem;
  margin-bottom: 1rem;
  /* @extend input[type=text] */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a1a1a1;
  border-radius: 0;
  outline: 0;
  min-height: 48px !important;
  width: 100%;
  font-size: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  min-height: 2.1rem;
}

.select2-container--material .select2-selection .select2-selection__rendered {
  padding-left: 0;
  margin-bottom: 0px;
}

.select2-container--material .select2-selection--single {
  padding-top: 0.625rem;
  padding-left: 16px;
}

.select2-container--material .select2-selection--single .select2-selection__rendered {
  float: left;
  padding-right: 0px !important;
}

.select2-container--material .select2-selection--single .select2-selection__arrow {
  float: right;
}

.select2-container--material .select2-selection--multiple {
  /**
         * Multiple selected options
         */
  /**
         * Multiple selected option clear button
         */
}

.select2-container--material .select2-selection--multiple .select2-selection__rendered {
  width: 100%;
}

.select2-container--material .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--material .select2-selection--multiple .select2-selection__choice {
  /* @extend .mdl-chip */
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  border: 0;
  border-radius: 16px;
  background-color: #dedede;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  margin: 2px 0;
  font-size: 12px !important;
  white-space: nowrap;
  /* @extend .mdl-chip__text */
  font-size: 0.813rem;
  vertical-align: middle;
  display: inline-block;
  float: left;
  margin-right: 8px;
  margin-bottom: 4px;
}

.select2-container--material .select2-selection--multiple .select2-selection__choice__remove {
  /* Hide default content */
  font-size: 0;
  opacity: 0.38;
  cursor: pointer;
  float: right;
  margin-top: 4px;
  margin-right: -6px;
  margin-left: 6px;
  border: none;
  -webkit-transition: opacity;
  transition: opacity;
  background: transparent;
}

.select2-container--material .select2-selection--multiple .select2-selection__choice__remove span {
  display: none;
}

.select2-container--material .select2-selection--multiple .select2-selection__choice__remove::before {
  content: "highlight_off";
  /* @extend .material-icons */
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #000;
}

.select2-container--material .select2-selection--multiple .select2-selection__choice__remove:hover {
  opacity: 0.54;
}

.select2-container--material .select2-search--inline .select2-search__field {
  min-width: 35px;
  width: 100%;
  margin-top: 0;
 font-size: 0.8rem !important;
  padding: 0.313rem !important;
  /* Match input[type=text] */
  height: 28px !important;
  vertical-align: middle;
  line-height: 1;
}

.select2-container--material .select2-dropdown {
  border: 0;
  -webkit-box-shadow: 0 2px 0.313rem 0 rgba(0, 0, 0, 0.16), 0 2px 0.625rem 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 0.313rem 0 rgba(0, 0, 0, 0.16), 0 2px 0.625rem 0 rgba(0, 0, 0, 0.12);
}

.select2-container--material .select2-dropdown .select2-search__field {
  min-height: 2.1rem;
  margin-bottom: 0.313rem;
  border: 0;
  border-bottom: 1px solid #a1a1a1;
  border-radius: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.select2-container--material .select2-dropdown .select2-search__field:focus {
  border-bottom: 1px solid #4285f4;
  -webkit-box-shadow: 0 1px 0 0 #4585f4;
          box-shadow: 0 1px 0 0 #4585f4;
}

.select2-container--material .select2-results__options {
  /* @extend .zf-shadow-depth* */
  /* @extend .dropdown-content */
  background-color: #fff;
  margin: 0;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  z-index: 999;
  will-change: width,height;
  /* @extend .dropdown-content inline styles */
}

.select2-container--material .select2-results__option {
  /* @extend .dropdown-content li */
  cursor: pointer;
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.2rem;
  text-align: left;
  text-transform: none;
  /* @extend .dropdown-content li>a, .dropdown-content li>span */
font-size: 12px;
  display: block;
  /**
         * Disabled options
         */
  /**
         * Selected option
         */
  /**
         * Active/hovered option
         */
}

.select2-container--material .select2-results__option[aria-disabled=true] {
  /* @extend .select-dropdown li.disabled */
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent !important;
  cursor: context-menu;
  /* @extend .disabled */
  cursor: not-allowed;
}

.select2-container--material .select2-results__option[aria-selected=true] {
  /* @extend .dropdown-content li:active, .dropdow-content li:hover */
  color: #4285f4;
  background-color: #eee;
}

.select2-container--material .select2-results__option--highlighted[aria-selected] {
  background-color: #ddd;
}

.select2-container--material.select2-container--focus .select2-selection {
  /* @extend input[type=text]:focus */
  border-bottom: 1px solid #4285f4;
  -webkit-box-shadow: 0 1px 0 0 #4585f4;
          box-shadow: 0 1px 0 0 #4585f4;
}

.select2-container--material.select2-container--disabled .select2-selection {
  /* @extend .select-wrapper input.select-dropdown:disabled */
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.select2-container--material.select2-container--disabled.select2-container--focus .select2-selection {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select2-container.select2-container--material.select2-container--open {
  z-index: 10000;
}

.select2-selectAll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select2-header-btn {
  color: grey !important;
  font-size: 13px !important;
}

.select2-header-btn:hover {
  background: #f2f2f2;
  color: black !important;
}

.modal .fa-plus {
  color: #0d70fd;
  cursor:pointer
}


.modal .modal-content {
  padding: 0;
  border: 3px solid #ebf1f5;
  /*width: 130%;
  margin-left: -15%;*/
}

.modal .modal-content .modal-header {
  background: #ffffff;
  color: #001219;
  border-bottom: 2px solid #346cb0;
}

.modal .modal-content .modal-header .modal-title {
  /*color: #001219;
  font-size: 2rem;*/
}

.modal .modal-content .modal-header button.btn-close-white:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .modal-content .modal-body {
  opacity: 1;
  height: 350px;
    overflow-y: auto;
    overflow-x: scroll;
}

.modal .modal-content .modal-footer {
  opacity: 1;
}

@media (max-width: 992px) {
  .modal .modal-content, .modal .sendMail {
    padding: 5px 10px;
    width: 100%;
    margin-left: 0;
  }
}

table.table {
  border-collapse: separate;
  border-spacing: 2px 15px;
  border: none;
}

table.table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

table.table thead * {
  background: transparent !important;
}

table.table thead th {
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(255, 255, 255, 0.95) !important;
}

table.table thead th:nth-child(4n-3) {
  border-bottom: 2px solid #0d70fd !important;
}

table.table thead th:nth-child(4n-2) {
  border-bottom: 2px solid red !important;
}

table.table thead th:nth-child(4n-1) {
  border-bottom: 2px solid orangered !important;
}

table.table thead th:nth-child(4n) {
  border-bottom: 2px solid #6545eb !important;
}

table.table tbody tr {
  border-radius: 5px !important;
  border: 1px solid silver !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
}

table.table tbody tr td {
  vertical-align: middle;
  border-bottom: none !important;
  font-size: smaller;
  border-top: none;
  border-left: none;
  border-right: none;
}

table.table tbody tr td:first-child {
  border-left: 5px solid transparent !important;
}

table.table tbody tr:hover td {
  background: #f7f7f7;
}

table.table tbody tr:hover td:first-child {
  border-left: 5px solid #0d70fd !important;
}

table.table tbody tr.inside-row {
  background: white;
  border-radius: 5px;
}

table.table tbody tr.inside-row td {
  border-left: 5px solid transparent !important;
}

table.table tbody tr.inside-row:hover td {
  background: white;
  border-left: 5px solid #0d70fd !important;
}
.bootstrap-table .btn-group .search-input {
    margin-bottom: 0;
    /* margin-top: 4px; */
    position: relative;
    /*top: 4px;*/
}
.bootstrap-table .fixed-table-toolbar .bs-bars, .bootstrap-table .fixed-table-toolbar .columns, .bootstrap-table .fixed-table-toolbar .search {
 
    /*margin-bottom: -13px;*/
}
.bootstrap-table.bootstrap5 .float-left{
        float: inherit;
}
.tableToolbarLeft {
    position:absolute;
    z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
      transform: translate(0px, 10px);
  display: flex;
  flex-wrap:wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.tableToolbarLeft button, .tableToolbarLeft .selectExport {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.tableToolbarLeft .savedFilterListUL li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
      font-size: 13px;
      color:#757575
}
 .tableToolbarLeft .savedFilterListUL li a i{
      font-size: 18px;
 }
    .tableToolbarLeft .savedFilterListUL li a i:hover{
        color:#d43f3a
    }

    .tableToolbarLeft .savedFilterListUL li a:hover {
        background-color:#f9f9f9 !important
    }

.tableToolbarLeft .savedFilters {
  display: inline !important;
  /*border: 1px solid #277da1;
  color: #277da1;
  background: #fff;*/
}

.tableToolbarLeft .savedFilters:hover {
  color: white;
  background: #2983a9;
}

.tableToolbarLeft .saved-filters, .tableToolbarLeft .selectExport {
  display: inline-block;
}

.tableToolbarLeft .selectExport {
  border: 1px solid #b56576;
  color: #b56576;
}

.tableToolbarLeft .selectExport:hover {
  color: white;
  background: #b86c7c;
}

.tableToolbarLeft .filterTableBtn {
  /*border: 1px solid #34aa8b;
  color: #34aa8b;*/
  background: #fff;
}

.tableToolbarLeft .filterTableBtn:hover {
  color: white;
  background: #36b291;
}

.tableToolbarLeft .selectExport {
  height: 31px;
}

/**
* ! bootstrap table properties for furure reference
*/
.bootstrap-table.bootstrap5 .fix-sticky * {
  background: #ffffff;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar input[type='text'] {
  height: 35px;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button {
  /*border: 1px solid rgba(36, 123, 160, 0.8);*/
  background: white;
  /*color: rgba(36, 123, 160, 0.8);*/
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button i {
  font-size: 14px !important;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button:hover {
  background: rgba(37, 126, 164, 0.8);
  color: white;
}

.bootstrap-table.bootstrap5 .fixed-table-container .fixed-table-body table thead th {
  border-left: none;
  border-right: none;
}

.bootstrap-table.bootstrap5 .fixed-table-container .fixed-table-body table tbody tr td {
  border-left: none;
  border-right: none;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination-detail .pagination-info, .bootstrap-table.bootstrap5 .fixed-table-pagination .pagination-detail .page-list {
  font-size: smaller;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination-detail .page-list .btn-group.dropdown.dropup button {
  border: 1px solid rgba(36, 123, 160, 0.8);
  background: white;
  color: rgba(36, 123, 160, 0.8);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination-detail .page-list .btn-group.dropdown.dropup button:hover {
  background: rgba(37, 126, 164, 0.8);
  color: white;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination .pagination {
  font-size: smaller;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination .pagination .active .page-link {
  color: #ffffff;
}

.filterOption {
  padding: 10px 10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
      font-size: 13px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filterOption .colNameLabel {
  grid-column: span 2;
}
.filterOption .select-field{
      height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}

.filterOption .select-column-vals, .filterOption .input-container {
  grid-column: span 3;
}

.filterOption #valueToSearch {
  width: 100%;
}

.filterOption .fa-times:hover {
  cursor: pointer;
  color: red;
}

.filterOption .fa-plus {
  font-size: 14px;
}

.filterOption .fa-plus:hover {
  color: #0d70fd;
}

.filterOption #valueToSearchTo, .filterOption label[for='valueToSearchTo'] {
  display: none;
  margin-top: -10px;
}

.filterOption .valueToSearchTo {
  width:100%;
      position: relative;
    top: 15px;
}

.filterOption input, .filterOption select {
  height: 30px;
  width: 100%;
  margin-bottom: 0px;
}

.filterOption .minusInFilter {
  font-size: 14px;
  position: absolute;
  right: 3%;
  margin-top: -40px;
}

.saveFilter {
  padding: 10px 20px;
  border-top: 1px solid #c8c9ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.saveFilter input {
  height: 30px;
  display: inline;
}

.savedFilterListUL{

}

.input-container label{
    width:100%
}

@media only screen and (max-width: 800px) {
    .tableToolbarLeft{
        position:relative
    }
}
/*# sourceMappingURL=main.css.map */