﻿body:not(.sidebar-mini).theme-white .sidebar-style-2 .sidebar-menu > li.active > a,
body:not(.sidebar-mini).theme-white .sidebar-style-2 .sidebar-menu > li.active-link > a,
.theme-white .dropdown.active-link a.lvl-1-nav i,
.theme-white .dropdown.active-link a.lvl-1-nav span,
.theme-white .nav-link.lvl-2-nav.active-sub-link {
    color: #6777EF !important;
}

.light-sidebar.theme-white .main-sidebar .sidebar-menu li.active a,
.light-sidebar.theme-white .search-element input,
.light-sidebar.theme-white .search-element button,
.light-sidebar.theme-white .dropdown.active-link a.lvl-1-nav {
    background-color: rgba(103, 119, 239, 0.11) !important;
}

body:not(.sidebar-mini).theme-cyan .sidebar-style-2 .sidebar-menu > li.active > a,
body:not(.sidebar-mini).theme-cyan .sidebar-style-2 .sidebar-menu > li.active-link > a,
.theme-cyan .dropdown.active-link a.lvl-1-nav i,
.theme-cyan .dropdown.active-link a.lvl-1-nav span,
.theme-cyan .nav-link.lvl-2-nav.active-sub-link {
    color: #3dc7be !important;
}

.light-sidebar.theme-cyan .main-sidebar .sidebar-menu li.active a,
.light-sidebar.theme-cyan .search-element input,
.light-sidebar.theme-cyan .search-element button,
.light-sidebar.theme-cyan .dropdown.active-link a.lvl-1-nav {
    background-color: rgba(61, 199, 190, 0.11) !important;
}

body:not(.sidebar-mini).theme-black .sidebar-style-2 .sidebar-menu > li.active > a,
body:not(.sidebar-mini).theme-black .sidebar-style-2 .sidebar-menu > li.active-link > a,
.theme-black .dropdown.active-link a.lvl-1-nav i,
.theme-black .dropdown.active-link a.lvl-1-nav span,
.theme-black .nav-link.lvl-2-nav.active-sub-link {
    color: #343a40 !important;
}

.light-sidebar.theme-black .main-sidebar .sidebar-menu li.active a,
.light-sidebar.theme-black .search-element input,
.light-sidebar.theme-black .search-element button,
.light-sidebar.theme-black .dropdown.active-link a.lvl-1-nav {
    background-color: rgba(52, 58, 64, 0.11) !important;
}

body:not(.sidebar-mini).theme-purple .sidebar-style-2 .sidebar-menu > li.active > a,
body:not(.sidebar-mini).theme-purple .sidebar-style-2 .sidebar-menu > li.active-link > a,
.theme-purple .dropdown.active-link a.lvl-1-nav i,
.theme-purple .dropdown.active-link a.lvl-1-nav span,
.theme-purple .nav-link.lvl-2-nav.active-sub-link {
    color: #6777EF !important;
}

.light-sidebar.theme-purple .main-sidebar .sidebar-menu li.active a,
.light-sidebar.theme-purple .search-element input,
.light-sidebar.theme-purple .search-element button,
.light-sidebar.theme-purple .dropdown.active-link a.lvl-1-nav {
    background-color: rgba(103, 119, 239, 0.11) !important;
}

body:not(.sidebar-mini).theme-orange .sidebar-style-2 .sidebar-menu > li.active > a,
body:not(.sidebar-mini).theme-orange .sidebar-style-2 .sidebar-menu > li.active-link > a,
.theme-orange .dropdown.active-link a.lvl-1-nav i,
.theme-orange .dropdown.active-link a.lvl-1-nav span,
.theme-orange .nav-link.lvl-2-nav.active-sub-link {
    color: #ffa117 !important;
}

.light-sidebar.theme-orange .main-sidebar .sidebar-menu li.active a,
.light-sidebar.theme-orange .search-element input,
.light-sidebar.theme-orange .search-element button,
.light-sidebar.theme-orange .dropdown.active-link a.lvl-1-nav {
    background-color: rgba(255, 161, 23, 0.11) !important;
}

body:not(.sidebar-mini).theme-green .sidebar-style-2 .sidebar-menu > li.active > a,
body:not(.sidebar-mini).theme-green .sidebar-style-2 .sidebar-menu > li.active-link > a,
.theme-green .dropdown.active-link a.lvl-1-nav i,
.theme-green .dropdown.active-link a.lvl-1-nav span,
.theme-green .nav-link.lvl-2-nav.active-sub-link {
    color: #4caf4f !important;
}

.light-sidebar.theme-green .main-sidebar .sidebar-menu li.active a,
.light-sidebar.theme-green .search-element input,
.light-sidebar.theme-green .search-element button,
.light-sidebar.theme-green .dropdown.active-link a.lvl-1-nav {
    background-color: rgba(76, 175, 79, 0.11) !important;
}

body:not(.sidebar-mini).theme-red .sidebar-style-2 .sidebar-menu > li.active > a,
body:not(.sidebar-mini).theme-red .sidebar-style-2 .sidebar-menu > li.active-link > a,
.theme-red .dropdown.active-link a.lvl-1-nav i,
.theme-red .dropdown.active-link a.lvl-1-nav span,
.theme-red .nav-link.lvl-2-nav.active-sub-link {
    color: #ea5455 !important;
}

.light-sidebar.theme-red .main-sidebar .sidebar-menu li.active a,
.light-sidebar.theme-red .search-element input,
.light-sidebar.theme-red .search-element button,
.light-sidebar.theme-red .dropdown.active-link a.lvl-1-nav {
    background-color: rgba(234, 84, 85, 0.11) !important;
}

body:not(.sidebar-mini).theme-light-blue .sidebar-style-2 .sidebar-menu > li.active > a,
body:not(.sidebar-mini).theme-light-blue .sidebar-style-2 .sidebar-menu > li.active-link > a,
.theme-light-blue .dropdown.active-link a.lvl-1-nav i,
.theme-light-blue .dropdown.active-link a.lvl-1-nav span {
    color: #001d35 !important;
}

.theme-light-blue .nav-link.lvl-2-nav.active-sub-link {
    color: #0099ff !important;
}

.light-sidebar.theme-light-blue .main-sidebar .sidebar-menu li.active a,
.light-sidebar.theme-light-blue .search-element input,
.light-sidebar.theme-light-blue .search-element button,
.light-sidebar.theme-light-blue .dropdown.active-link a.lvl-1-nav {
    background-color: #C2E7FF !important;
}

.theme-light-blue .navbar .nav-link .feather {
    color: #001d35;
}

.theme-light-blue .settingSidebar .settingPanelToggle i {
    color: #001d35 !important;
}


.main-sidebar .sidebar-menu li ul.dropdown-menu li a {
    color: #60686f !important;
}

a.btn.btn-icon.icon-left.btn-primary.btn-restore-theme {
    color: #fff !important;
}

.theme-light-blue a.btn.btn-icon.icon-left.btn-primary.btn-restore-theme {
    color: #001d35 !important;
}

.dark input.form-control {
    background-color: #f0f3ff !important;
}