.dot{
    height:20px;
    width:20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 50%;
    
}

.dot-red{
    background-color:$dot-red;
    color:white;
}

.dot-orange{
    background-color:$dot-orange;
    color:white;
}

.dot-blue{
    background-color:$dot-blue;
    color:white;
}

.dot-green{
    background-color:$dot-green;
    color:white;
}

.dot-pink{
    background-color:$dot-pink;
    color:white;
}

.dot-purple{
    background-color:$dot-purple;
    color:white;
}

.dot-dark-blue{
    background-color:$dot-dark-blue;
    color:white;
}

.dot-dark-green{
    background-color:$dot-dark-green;
    color:white;
}

.dot-emerald{
    background-color: $dot-emerald;
    color:white;
}

.dot-gray{
    background-color: $dot-gray;
    color:white;
}

.dot-dark-orange{
    background-color: $dot-dark-orange;
    color:white;
}

.dot-light-pink{
    background-color: $dot-light-pink;
    color:white;
}