﻿.collge_name {
    display: flex;
    align-items: center;
     margin: 10px 0px;
}

.collge_name_text {
    text-align: center;
    /*margin-left: -40px;*/
}

.heading_modal {
       font-size: 15px;
    font-weight: 600;
    padding-left: 6px;
    margin-top: 17px;
    border-left: 3px solid #6777ef;
    margin-bottom: 7px;
    letter-spacing: 0.7px;
}

#courseReport table tbody tr{
    box-shadow:none !important;
}
