﻿   .img-con {
        margin-right: 10px;
        width: 88px;
        height: 88px;
    }

    .img-con img {
        width: 100%;
        height: auto;
    }

    .wishes-container h6 {
        font-size: 14px;
        line-height: 16px;
        color: #6C757D;
    }

    .wishes-container h2 {
        color: #1E1E1E;
        font-size: 24px;
        margin-bottom: 0;
    }

    .news-notification {
        border-bottom: 1px solid #ebebeb;
    }
    .n-title {
        color: #6777ef;
    }
    .clock-con {
        background: #6777ef;
        color: #fff;
        font-weight: 600;
        border-radius: 10px;
        padding: 15px 24px;
        font-size: 15px;
    }