﻿
/*
* Content 
*/
.bg-white-smoke {
    background-color: $white-smoke !important;
}


.unit-container {
    .unit.active, .sub-unit.active {
        background-color: $searchBar-color !important;
        color: $purple !important;
        font-weight: 700;
    }
}

.topic-type {
    &:hover {
        background-color: $searchBar-color !important;
        border: 1px solid $purple !important;
        cursor: pointer;
    }
}
