.subcard-warning {
    border-color: #ffc107;
    margin-bottom:10px;

    .subCard-header {
        background: #FFF4E8 0% 0% no-repeat padding-box;
        color: #F8961E;
    }

    .subCard-body {
        p {
            color: #34395e;
        }
    }
}
.subcard-success {
    border-color: #73B100;
    margin-bottom: 10px;

    .subCard-header {
        background: #73B1001A 0% 0% no-repeat padding-box;
        color: #73B100;
    }

    .subCard-body {
        p {
            color: #34395e;
        }
    }
}


.subCard-content {
    max-height: 90px;
    overflow-y: hidden;
}
