﻿.dataTables_wrapper {
    .dt-buttons {
        .buttons-excel {
         box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 2px 0px, rgba(0, 0, 0,  0.30) 0px 3px 7px -3px;
            width: 40px;
            height: 32px;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .buttons-csv{
              box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 2px 0px, rgba(0, 0, 0,  0.30) 0px 3px 7px -3px;
            width: 40px;
            height: 32px;
        }
        .buttons-pdf{
               box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 2px 0px, rgba(0, 0, 0,  0.30) 0px 3px 7px -3px;
            width: 40px;
            height: 32px;
        }
    }
}
