
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


.darkSlateGrey {
  color: #355070;
}

.darkSlateGrey-bg {
  background: #355070;
}

.dimGrey {
  color: #6d597a;
}

.dimGrey-bg {
  background: #6d597a;
}

.indianred {
  color: #b56576;
}

.indianred-bg {
  background: #b56576;
}

.lightcoral {
  color: #e56b6f;
}

.lightcoral-bg {
  background: #e56b6f;
}

.burlywood {
  color: #eaac8b;
}

.burlywood-bg {
  color: #eaac8b;
}

.linkBlue {
  color: #0d70fd;
  font-weight: 500;
  cursor: pointer;
}

/**
* Icon COlors
*/
/**
*Banner Colors
**/
/**
*File colors
**/
.progress-red {
  color: #ff7b89;
}

.progress-purple {
  color: #6545eb;
}

.progress-blue {
  color: #0d70fd;
}

.progress-green {
  color: #2a9d8f;
}

.progress-orange {
  color: #f8961e;
}

.progress-thick {
  font-weight: 500;
}


table.table {
  border-collapse: separate;
  border-spacing: 2px 8px;
  border: none;
}

table.table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*table.table thead * {
  background: transparent !important;
}*/

table.table thead th {
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(255, 255, 255, 0.95) !important;
}

table.table thead th:nth-child(4n-3) {
  border-bottom: 2px solid #0d70fd !important;
}

table.table thead th:nth-child(4n-2) {
  border-bottom: 2px solid red !important;
}

table.table thead th:nth-child(4n-1) {
  border-bottom: 2px solid orangered !important;
}

table.table thead th:nth-child(4n) {
  border-bottom: 2px solid #6545eb !important;
}

table.table tbody tr {
  border-radius: 5px !important;
  border: 1px solid silver !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
}

table.table tbody tr td {
  vertical-align: middle;
  border-bottom: none !important;
  font-size: smaller;
  border-top: none;
  border-left: none;
  border-right: none;
}

table.table tbody tr td:first-child {
  border-left: 5px solid transparent !important;
}

table.table tbody tr:hover td {
  background: #f7f7f7;
}

table.table tbody tr:hover td:first-child {
  border-left: 5px solid #0d70fd !important;
}

table.table tbody tr.inside-row {
  background: white;
  border-radius: 5px;
}

table.table tbody tr.inside-row td {
  border-left: 5px solid transparent !important;
}

table.table tbody tr.inside-row:hover td {
  background: white;
  border-left: 5px solid #0d70fd !important;
}

/**
* TODO: Main Nav values
*/
.tableToolabarLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.tableToolabarLeft button, .tableToolabarLeft .selectExport {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.tableToolabarLeft .savedFilterListUL li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.tableToolabarLeft .savedFilters {
  display: inline !important;
  border: 1px solid #277da1;
  color: #277da1;
}

.tableToolabarLeft .savedFilters:hover {
  color: white;
  background: #2983a9;
}

.tableToolabarLeft .selectExport {
  border: 1px solid #b56576;
  color: #b56576;
}

.tableToolabarLeft .selectExport:hover {
  color: white;
  background: #b86c7c;
}

.tableToolabarLeft .filterTableBtn {
  border: 1px solid #34aa8b;
  color: #34aa8b;
}

.tableToolabarLeft .filterTableBtn:hover {
  color: white;
  background: #36b291;
}

.tableToolabarLeft .selectExport {
  height: 35px;
}

/**
* ! bootstrap table properties for furure reference
*/
.bootstrap-table.bootstrap5 .fix-sticky * {
  background: #ffffff;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar input[type='text'] {
  height: 35px;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button {
  border: 1px solid #ced4da;
  background: white;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  box-shadow: none !important;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button i {
  font-size: 14px !important;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button:first-child {
  border-radius: 10px 0 0 10px;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button:first-child {
  border-radius: 0 10px  10px 0;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button:hover {
  background: rgba(3, 3, 3, 0.4);
  color: white;
}

.bootstrap-table.bootstrap5 .fixed-table-container .fixed-table-body table thead th {
  border-left: none;
  border-right: none;
}

.bootstrap-table.bootstrap5 .fixed-table-container .fixed-table-body table tbody tr td {
  border-left: none;
  border-right: none;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination-detail .pagination-info, .bootstrap-table.bootstrap5 .fixed-table-pagination .pagination-detail .page-list {
  font-size: smaller;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination-detail .page-list .btn-group.dropdown.dropup button {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: white;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination-detail .page-list .btn-group.dropdown.dropup button:hover {
  background: rgba(3, 3, 3, 0.4);
  color: white;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination .pagination {
  font-size: smaller;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination .pagination .pagination .active .page-link {
  color: #ffffff;
}
.bootstrap-table .fixed-table-container .table thead th .th-inner{
  padding: 0.3rem 0.5rem !important;
}
.bootstrap-table.bootstrap5 .search-input{
  height:37px
}


// .filterOption {
//   padding: 10px 10px;
//   width: 100%;
//   display: -ms-grid;
//   display: grid;
//   -ms-grid-columns: (1fr)[3];
//       grid-template-columns: repeat(3, 1fr);
//   gap: 10px;
//   // -webkit-box-align: center;
//   //     -ms-flex-align: center;
//   //         align-items: center;
// }
.filterOption #valueToSearch {
  width: 100%;
}

.filterOption .fa-times:hover {
  cursor: pointer;
  color: red;
}

.filterOption .fa-plus {
  font-size: 14px;
}

.filterOption .fa-plus:hover {
  color: #0d70fd;
}

.filterOption #valueToSearchTo, .filterOption label[for='valueToSearchTo'] {
  display: none;
  margin-top: -10px;
}

.filterOption input, .filterOption select {
  height: 30px;
  width: 100%;
}

.filterOption .minusInFilter {
  font-size: 14px;
  position: absolute;
  right: 3%;
}

.saveFilter {
  padding: 10px 20px;
  border-top: 1px solid #c8c9ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.saveFilter input {
  height: 30px;
  display: inline;
}

@media (max-width: 768px) {
  .bootstrap-table.bootstrap5 .fixed-table-toolbar .float-right.search.btn-group {
    width: 100%;
  }
}

.bootstrap-table table.table {
  border-collapse: separate;
  border-spacing: 2px 10px;
}

.bootstrap-table table.table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.bootstrap-table table.table thead th {
  background: rgba(255, 255, 255, 0.95) !important;
}

.bootstrap-table table.table thead th:nth-child(4n-3) {
  border-bottom: 2px solid #0d70fd !important;
}

 .bootstrap-table table.table thead th:nth-child(4n-2) {
  border-bottom: 2px solid red !important;
}

.bootstrap-table table.table thead th:nth-child(4n-1) {
  border-bottom: 2px solid orangered !important;
}

.bootstrap-table table.table thead th:nth-child(4n) {
  border-bottom: 2px solid #6545eb !important;
}

.bootstrap-table table.table tbody tr {
  border-radius: 5px !important;
  border: 1px solid silver !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
}

.bootstrap-table table.table tbody tr td {
  vertical-align: middle;
  border-bottom: none !important;
  font-size: 13px ;
}

.bootstrap-table table.table tbody tr td:first-child {
  border-left: 0px solid transparent !important;
}

.bootstrap-table table.table tbody tr:hover td {
  background: #f7f7f7;
}
.bootstrap-table table.table tbody tr td:first-child {
  border-left: 5px solid transparent !important;
}


.bootstrap-table table.table tbody tr:hover td:first-child {
  border-left: 5px solid #0d70fd !important;
}

.bootstrap-table table.table tbody tr.inside-row {
  background: white;
  border-radius: 5px;
}

.bootstrap-tabletable.table tbody tr.inside-row td {
  border-left: 5px solid transparent !important;
}

.bootstrap-table table.table tbody tr.inside-row:hover td {
  background: white;
  border-left: 5px solid #0d70fd !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #ffffff;
  background-color: #4388b5;
  border-color: #4388b5;
}

.bootstrap-table .fixed-table-container .table{
  display:table !important;
  // min-height:300px;
}
// .table-responsive{
//   min-height:330px;
// }
/*# sourceMappingURL=main.css.map */

.table:not(.table-sm):not(.table-md):not(.dataTable) td, .table:not(.table-sm):not(.table-md):not(.dataTable) th{
  height:30px;
}

.bootstrap-table .fixed-table-container .table tbody tr .card-view .card-view-title{
  min-width:115px !important;
}

.bootstrap-table.bootstrap5 .fixed-table-toolbar .columns.columns-right.btn-group button:first-child{
  border-radius: 0 !important;
}

.table-fixed-height{
  max-height: 400px;
  overflow-y: auto;
  border:1px solid #f6f6f6;
    th{
    position:sticky;
    top:0;
    background-color: #f6f6f6  !important;
    z-index: 1080;
  }
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
  height:8px ;
}

.table-responsive::-webkit-scrollbar-track {
  background: #fff;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgb(216, 213, 213) ;
}

.header-fixed .fixed-table-body{
  height: 500px !important;
  overflow-y: auto;
}
.pending-status.hide{
  display: none !important;
}
.all-data.hide{
  display: none !important;
}

.onboarded.hide{
  display: none !important;
}

.table-bordered>:not(caption)>* {
  border-width: 0px 0;
}