/*all scrollbars*/
/** {
    scrollbar-width: none;
    scrollbar-color: gray white;
}*/


::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: gray
} 