.header-with-badge{
    i{
        position: absolute;
    }    
}

.headerBadge{
    position: relative;
    top: -9px;
    background:#6777ef;
    border-radius: 50%;
    padding: 3px 5px;
    left: 10px;
    font-size: 10px;
}