.newSidePanel {
    background: #fff;
    position: fixed;
    height: 100%;
    width: 280px;
    top: 62px;
    right: -280px;
    z-index: 999;
    transition: .3s ease-in;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
    .newSidePanelToggle {
        background: orange;
        padding: 10px 15px;
        color: #fff;
        position: absolute;
        top: 30%;
        left: -40px;
        width: 40px;
        border-radius: 10px 0 0 10px;
        &:hover{
            color:#fff;
        }
    }
    
    .newSidePanel-body {
        position: relative;
        height: 100%
    }
    .newSidePanel-tab {
        display: flex;
        .nav-item {
            width: 33.33%;
            text-align: center;
            .nav-link {
                padding: 15px 12px;
                color: #6a7a8c;
                border-bottom: 3px solid transparent;
                &:hover{
                    border-bottom: 3px solid #2962ff;
                    color: #2962ff;
                }
            }
            .nav-link.active {
                border-bottom: 3px solid #2962ff;
                color: #2962ff
            }
        }
    }
    ul.choose-theme {
        li {
            display: inline-block;
            &:hover{
                cursor: pointer;
            }
            div {
                border-radius: 15px;
                display: inline-block;
                vertical-align: middle;
                height: 25px;
                width: 25px;
                overflow: hidden;
                position: relative;
                margin: 1px
            }
            div.purple {
                background: #6777ef;
                -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2);
                box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2)
            }
            div.orange {
                background: #ffa117;
                -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2);
                box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2)
            }
            div.cyan {
                background: #3dc7be;
                -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2);
                box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2)
            }
            div.green {
                background: #4caf4f;
                -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2);
                box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2)
            }
            div.red {
                background: #ea5455;
                -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2);
                box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2)
            }
            div.white {
                background: #ece8e8;
                -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2);
                box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2)
            }
            div.black {
                background: #343a40;
                -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2);
                box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, .2)
            }
        }
        li.active div::after {
            content: "";
            color: #fff;
            top: 4px;
            left: 7px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 12px;
            position: absolute;
            -webkit-transition: .5s;
            transition: .5s
        }
    }
    .setting-panel-header {
        display: block;
        padding: 15px 20px;
        color: #212529;
        font-size: 15px;
        border: 1px solid #eae9e9;
        background: #e9ecef
    }
    .disk-server-setting{
        .progress {
            height: 8px
        }
    }
    p {
        font-weight: bold;
        margin: 0;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-align: left;
        padding-bottom: 5px
    }
    .rt-sidebar-last-ele {
        margin-bottom: 70px !important
    }
}

.newSidePanel.showSettingPanel {
    right: 0;
}

@media only screen and (max-width: 1024px) {
    .settingSidebar {
        display: none
    }
}


.settingSidebar{
    .settingPanelToggle{
        top:0%;
    }
}

.bookmarked-pages{
  
    .bookmarked{
            display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom:10px;
     margin-bottom:10px;
    border-bottom:1px solid #ddd;
        h6{
            font:normal normal 400 14px/28px nunito;
                padding: 0px 6px;
        }
        i{
            color:#f8961e
        }
    }
}
