﻿body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #101010;
}

input.form-control {
    font-size: 14px;
    font-weight: 400;
    color: #9E9E9E;
    margin-bottom: 16px;
    border: 1px solid #bbb;
    border-radius: 7px;
    padding: 15px 20px;
    width: 100%;
    height: 50px !important;
}


.sign-in {
    background-image: url('../../../Images/Login/background.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-h {
    margin-top: 68px !important;
    margin-left: 14px;
}

.logo {
    margin-top: 92px;
}

.college-name {
    margin-top: 96px;
}

    .college-name h6 {
        text-align: left;
        font: normal normal medium 14px/43px Poppins;
        letter-spacing: 1.26px;
        color: #101010;
        opacity: 1;
        margin-bottom: 10px;
    }

    .college-name h2 {
        text-align: left;
        color: #101010;
        letter-spacing: 0.3px;
        font-weight: 800;
        font-size: 28px;
        line-height: 43px;
        margin-bottom: 12px;
    }

    .college-name h4 {
        Font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1.26px;
        color: #101010;
        line-height: 26px;
        letter-spacing: 0.9px;
    }


.signin-details {
    margin-top: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #81818129;
    border-radius: 16px;
    padding: 25px 30px;
}

.floating-label {
    position: relative;
    top: 19px;
    left: 12px;
    background: #fff;
    padding: 0 6px;
    font-weight: 600;
    font-size: 15px;
    color: #101010;
}

.sign-heading {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #3472a5;
}

.eye-icon {
    position: absolute;
    right: 58px;
    margin-top: -50px;
    color: #101010;
}

.btn-sign {
    background: transparent linear-gradient(98deg, #44769D 0%, #2E5F85 100%) 0% 0% no-repeat padding-box;
    border-radius: 7px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.img-width {
    width: 20px;
    height: 20px !important;
}

.captcha-img {
    border-radius: 7px;
    height: 50px;
}

#UpdatePanel1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.forget-pass a {
    color: #2E5F85 !important;
    font-weight: 700;
}

.virtual-key a {
    color: #2E5F85;
    font-weight: 500;
}


.compatiblity {
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
}

    .compatiblity .list-inline {
        margin-bottom: 0;
        padding: 5px 0;
        display: flex;
        align-items: center;
        /*justify-content: center;*/
    }

        .compatiblity .list-inline > li {
            color: #101010;
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
            font-size: 12px;
        }

            .compatiblity .list-inline > li > i {
                color: #e6e6e6;
            }

.site-compa {
    color: #848484 !important;
}

@media (min-width: 1400px) {
    .logo {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 1024px) {
    .logo {
        margin-top: 15px;
    }

    .virtual-key {
        display: none;
    }

    .signin-details {
        margin-top: 115px;
    }
}

@media only screen and (max-width: 600px) {

    .college-name {
        display: none;
    }

    .compatiblity {
        display: none;
    }


    .logo {
        text-align: center;
        margin-bottom: 12px;
    }

        .logo img {
            width: 100%;
        }

    .bg-mobile {
        background: transparent linear-gradient(98deg, #44769D 0%, #2E5F85 100%) 0% 0% no-repeat padding-box;
    }

    .sign-in {
        background-image: none;
    }

    .signin-details {
        margin-top: 5px;
        box-shadow: none;
        padding: 20px 15px;
    }
}
