/*======================================
    Design And Develop By - Gaurav K
=======================================*/

@font-face {
    font-family: 'open_sansregular';
    src: url('../../../plugins/newbootstrap/webfont/opensans/regular/opensans-regular-webfont.eot');
    src: url('../../../plugins/newbootstrap/webfont/opensans/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../plugins/newbootstrap/webfont/opensans/regular/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../plugins/newbootstrap/webfont/opensans/regular/opensans-regular-webfont.woff') format('woff'),
         url('../../../plugins/newbootstrap/webfont/opensans/regular/opensans-regular-webfont.ttf') format('truetype'),
         url('../../../plugins/newbootstrap/webfont/opensans/regular/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../../../plugins/newbootstrap/webfont/opensans/light/opensans-light-webfont.eot');
    src: url('../../../plugins/newbootstrap/webfont/opensans/light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../plugins/newbootstrap/webfont/opensans/light/opensans-light-webfont.woff2') format('woff2'),
         url('../../../plugins/newbootstrap/webfont/opensans/light/opensans-light-webfont.woff') format('woff'),
         url('../../../plugins/newbootstrap/webfont/opensans/light/opensans-light-webfont.ttf') format('truetype'),
         url('../../../plugins/newbootstrap/webfont/opensans/light/opensans-light-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../../../plugins/newbootstrap/webfont/opensans/semibold/opensans-semibold-webfont.eot');
    src: url('../../../plugins/newbootstrap/webfont/opensans/semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../plugins/newbootstrap/webfont/opensans/semibold/opensans-semibold-webfont.woff2') format('woff2'),
         url('../../../plugins/newbootstrap/webfont/opensans/semibold/opensans-semibold-webfont.woff') format('woff'),
         url('../../../plugins/newbootstrap/webfont/opensans/semibold/opensans-semibold-webfont.ttf') format('truetype'),
         url('../../../plugins/newbootstrap/webfont/opensans/semibold/opensans-semibold-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../../../plugins/newbootstrap/webfont/opensans/bold/opensans-bold-webfont.eot');
    src: url('../../../plugins/newbootstrap/webfont/opensans/bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../plugins/newbootstrap/webfont/opensans/bold/opensans-bold-webfont.woff2') format('woff2'),
         url('../../../plugins/newbootstrap/webfont/opensans/bold/opensans-bold-webfont.woff') format('woff'),
         url('../../../plugins/newbootstrap/webfont/opensans/bold/opensans-bold-webfont.ttf') format('truetype'),
         url('../../../plugins/newbootstrap/webfont/opensans/bold/opensans-bold-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'open_sansregular';
    font-size:14px;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #333;
    text-decoration: none;
}
.form-control {
    font-size: 14px;
}
.form-control:focus {
    box-shadow: none;
}
.btn {
    font-size:13px;
}
.btn-primary{
    background-color: #053769 !important; 
    border-bottom:0px !important;
}
.btn-warning, .btn-warning.disabled, .btn-warning:disabled {
    color: #fff;
    background-color: #f39c12;
    border-color: #e08e0b;
}
.sign-in{
    background:url("../../../Images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-position: center;
}
.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /*background: linear-gradient(to top right,rgba(0,0,0,.2) 0,rgba(0,0,0,0.3) 100%);*/
    background-size: 1px 1px;
}
.college-details{
    /*background: #6587d7;*/
    /*background:rgba(5,55,104, 0.7);*/
    background: rgba(255,255,255, 0.85);
    box-shadow: 0 0px 15px #000;
    box-sizing: border-box;
    min-height: 54vh;
    /*-webkit-clip-path: polygon(50% 0,100% 0,100% 75%,50% 100%,0 75%,0 0);
    clip-path: polygon(50% 0,100% 0,100% 75%,50% 100%,0 75%,0 0);*/
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.college-name{
    font-family: 'open_sansbold';
    text-shadow: 0px 5px 8px #000;
}
.logo img {
    width:100%;
}
.college-name h1 {
    font-size: 3.6rem;
    line-height: 1;
}
.college-name::after {
    content: '';
    display: block;
    height: 1px;
    border-radius: 2px;
    background-color: #fff;
    width: 60%;
    margin: 15px auto 12px;
    opacity: .5;
}
.college-address{
    font-size: 16px;
}
.signin-details{
    background: rgba(255,255,255, 0.7);
    /*background: rgba(5,55,104, 0.4);*/
    border-radius: 8px;
    position: relative;
        box-shadow: 0 0px 10px #000;
}
.signin-details .heading{
    font-family: 'open_sansbold';
    color: #333;
}
.signin-details .form-group{
    position: relative;
}
.signin-details label {
    font-family: 'open_sanssemibold';
    color: #333;
    margin-bottom: .1rem;
}
.signin-details .form-control{
    color: #000;
    outline: none;
    border: none;
    border-bottom: 2px solid #053769;
    -webkit-appearance: none;
/*    background: #ffffff96;*/
    background: rgba(255,255,255,0.7);
    padding-left: 35px;
    font-size: 14px;
}
.signin-details .form-group .fas{
    position: absolute;
    top: 58%;
    left: 8px;
}
.signin-details .form-group #show_hide_password a{
    position: absolute;
    top: 48%;
    right: 8px;
    color: #212529;
}
.signin-details .input-group-text {
    padding: .375rem .5rem;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
.forget-pass span, .virtual-key a {
    font-weight:bold;
}

.compatiblity {
    position:fixed;
    bottom:0px;
    margin:auto;
    width:100%;
    background-color: #053769;
    box-shadow: 2px 0px 4px #000;
}
.compatiblity .list-inline {
    margin-bottom:0;
    padding:5px 0;
    display: flex;
    align-items: center;
}
.compatiblity .list-inline > li {
    color:#fff;
    text-shadow:1px 4px 6px rgba(0,0,0,0.2);
    font-size:12px;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.compatiblity .list-inline > li > i {
    color:#e6e6e6
}

/*===== Modal PopUp Start =====*/
.modal-header{
    padding: 0.4rem 0.8rem;
}
.modal-title {
    font-size: 1.2rem;
    font-family: 'open_sanssemibold';
}
/*===== Modal PopUp END =====*/

/*======= Media Query for responsive ====*/
@media (min-width:1200px) and (max-width:1299px) {
    .college-details {
        min-height: 40vh;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .college-details {
        min-height: 40vh;
    }
}

@media (min-width:767px) and (max-width:991px) {
    .sign-in{
        background-size: 200% 100%;
    }
    /*.signin-details{
        margin-top:150px;
    }*/
    .college-details {
        padding-top: 25px;
        min-height: 38vh;
    }
    #frmDefault {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width:767px) {
    .college-name h1 {
        font-size: 3rem;
        line-height: 1;
    }
    .compatiblity {
        display: none;
    }
    /*.sign-in{
        background-size: 250% 100%;
        height: 105vh;
    }*/
    /*.overlay {
        width: 100%;
        height: 105vh;
    }*/
    .college-details {
        box-sizing: border-box;
        min-height: 38vh;
    }
    .college-name {
        font-size: 28px;
    }
    .college-name::after{
        margin: 8px auto;
    }
    .signin-details .heading {
        font-size: 22px;
    }
    .virtual-key{
        display: none;
    }
}

@media (min-width:481px) and (max-width:576px) {
    .signin-details {
        margin: 0px 90px;
    }
    .college-details {
        margin: 0px 50px;
        min-height: 40vh;
    }
}

@media (max-width:376px) {
    .college-name h1 {
        font-size: 3rem;
    }
    /*.sign-in{
        height: 120vh;
    }
    .overlay {
        width: 100%;
        height: 120vh;
    }*/
    .college-name {
        font-size: 22px;
    }
    .college-address{
        font-size: 12px;
    }
    .signin-details .heading {
        font-size: 20px;
    }
    .college-details {
        min-height: 37vh;
    }
}

@media (max-width:320px) {
    .college-name h1 {
        font-size: 2.6rem;
    }
    /*.sign-in{
        height: 140vh;
    }*/
    /*.overlay {
        width: 100%;
        height: 140vh;
    }*/
    .college-name {
        font-size: 22px;
    }
    .college-address{
        font-size: 12px;
    }
    .signin-details .heading {
        font-size: 20px;
    }
    .college-details {
        min-height: 45vh;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #txtcaptcha {
        width: 60px !important;
    }
}






