body{
    font-size:10px;
}
.receipt-bor{
    border-left: 2px dashed #212529;
    border-right: 2px dashed #212529;
}
.receipt-head, .receipt-detail {
    border: 1px solid #212529;
    padding: 5px;
}
.receipt-head img{
    width: 40px;
    height: 50px;
}
.receipt-head h5{
    font-size: 10px;
}
.receipt-head h3{
    font-size: 12px;
    text-transform:uppercase;
    font-weight: bold;
}
.receipt-head h6{
    font-size: 10px;
}
.receipt-copy span{
    font-size: 10px;
    font-weight: bold;
}
.receipt-body h5{
    font-size: 11px;
}
label{
    font-weight:bold;
    margin-bottom:0;
    width: 100px;
}
.receipt-date label{
    width:auto;
}
i{
    font-size:9px;
}
.rec-num{
    color: #ff0000;
}
.table thead tr {
    border: 1px solid #212529;
}
.table thead th {
    border:0;
}
.table td, .table th {
    padding: .1rem 0.25rem;
    vertical-align: top;
    border-top:0;
    border-bottom: 1px dashed #212529;
}
.tbl-cheque tbody {
    border: 1px solid #000 !important;
}
.total-amount td{
    border-top: 1px solid #212529;
    border-bottom: 1px solid #212529;
}
.remark label{
    width: 115px;
}
.receipt-amount label{
    width:auto;
}
.signature label{
    width:auto;
}
.receipt-footer{
    border-top: 1px dashed #212529;
}
@media (max-width: 576px){
    .receipt-bor{
        border-left: 0;
        border-right: 0;
    }
}