    .menu-tab {
            right: 0px;
            cursor: pointer;
            -webkit-transition: all .9s ease-in-out !important;
            transition: all .9s ease-in-out !important;
            background-color: #3c79b4;
            color: #fff;
        }
          .menu-tab div {
                /*width: 20px;*/
                height: 2px;
                background-color: #fff;
                display: block;
                margin: 4px -3px;
                -webkit-transition: all .9s ease-in-out;
                transition: all .9s ease-in-out;
            }

 
            .menu-tab.active {
                right: 320px;
                -webkit-transition: all .9s ease-in-out !important;
                transition: all .9s ease-in-out !important;
                background-color: rgba(255, 255, 255, 0.2);
                border: 1px solid #bbb;
                background-color:#fff;
            }

                .menu-tab.active #one {
                    -webkit-transform: translateY(9px) rotate(-135deg);
                    transform: translateY(3px) rotate(-135deg);
                    -webkit-transition: all .9s ease-in-out;
                    transition: all .6s ease-in-out;
                    background-color: #fff;
                }

                .menu-tab.active #two {
                    opacity: 0;
                    -webkit-transition: .4s ease;
                    transition: .4s ease;
                }

                .menu-tab.active #three {
                    -webkit-transform: translateY(-9px) rotate(-45deg);
                    transform: translateY(-9px) rotate(-45deg);
                    -webkit-transition: all .9s ease-in-out;
                    transition: all .9s ease-in-out;
                    background-color: #fff;
                }
                .menu-tab:hover #one ,  .menu-tab:hover #two ,  .menu-tab:hover #three{
                   background-color:#1ABB9C;
                }
        .menu-hide {
            width: 320px;
            right: -320px;
            position: fixed;
            z-index: 1000;
            top: 40%;
            -webkit-transition: all .9s ease-in-out;
            transition: all .9s ease-in-out;
            box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.2);
            /*end of nav*/
        }
       .menu-hide  h5{
            background-color:#3c8dbc ;
            color:#fff;
            padding: 8px;
            font-weight: 700;
            margin:0;
           text-align: center;
        }
            /*end of menu-hide*/
            .menu-hide.show {
                right: 0px;
                background-color: rgba(255, 255, 255, 1);
                -webkit-transition: all .9s ease-in-out;
                transition: all .9s ease-in-out;
            }
        .todo__wrapper {
	margin: 0 auto;
	padding-bottom: 19px;
	border-radius: 10px;

	box-shadow: 0 7px 30px rgba(67, 70, 77, .3);
}

.todo__content .newItem {
	padding: 0 15px;
}
.todo__content .todo__list {

	padding: 5px;
}

.newItem__input {
	display: flex;
	align-items: center;
}
.newItem__input input[name="name"] {
	outline: none;
	border: none;
	border-bottom: 1px solid #eaf0ef;
	padding: 10px;
	transition: all 0.3s;
	font-size: 15px;
	flex: 1;
    padding-right: 20px;
}
.newItem__input i {
	font-size: 20px;
	color: #a6a6a6;
    cursor: pointer;
	transition: color 0.3s;
	margin-left: -20px;
}
.newItem__input input[name="add"]:focus {
	border-bottom: 1px solid #3c8dbc;
}
.newItem__input i:hover,
.newItem__input input[name="add"]:focus + i {
	color: #3c8dbc;
	cursor: pointer;
}

.todo__list {
	list-style: none;
	padding: 0;
	/*margin-top: 30px;*/
}
.todo__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
    border-bottom: 1px solid #eaf0ef;
}
.todo__item input[type=checkbox] {
    margin: 4px 0 0;
}
.todo__item.invisible {
	display: none;
}
.todo__item > input[type="checkbox"] {
	display: none;
}
.todo__item label {
	position: relative;
    max-width: 100%;
    padding: 0px 10px;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    text-align: justify;
    font-weight: 300 !important;
    transform-origin: 0 50%;
    animation: pulse 0.4s ease;
    overflow-wrap: anywhere;
}
/*.todo__item label:hover {
	background-color: rgba(166, 166, 166, 0.3);
}*/
.todo__item .check__box {
	position: absolute;
	left: 10px;
	/*top: 50%;
	transform: translate(0, -50%);
	width: 18px;
	height: 18px;
	border: 2px solid #3c8dbc;
	border-radius: 2px;*/
}
.item__trash-can {
	cursor: pointer;
	color: #ff7878;
}
.item__trash-can:hover {
	color: red;
}

      .menu-hide  .scrollbar {
            /*margin-left: 13px;*/
            height: 250px;
            width: 318px;
            overflow-y: auto;
/*     margin-bottom: 25px;*/
        }
        #style-1::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #style-1::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }

        #style-1::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ccc;
        }
        /* ---scrollbar---  */



  /*-----------report  collection-------------------*/
.panel-wrap-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 430px;
  background-color:#fff;
  transform: translateX(100%);
   transition: .9s ease-out;
    box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.2);
    z-index:10000;
}
         .panel-close{
               transform: translateX(100%);
  transition: .9s ease-out;
         }
.panel-body-modal{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
/*  padding: 1em;*/
} 
         
 .panel-wrapaaa {
  transform: translateX(0%);
   transition: .9s ease-out;
}  
         .close{
             opacity: 1;
             color: #ff4d4d;
             padding: 10px;
         }
         #click{
             /*float:right;
                cursor: pointer;
    background-color: #1ABB9C;
    color: #fff;
    padding:10px 15px;
        position: fixed;
    right: 0;
    top: 50%;
    z-index: 999;*/
         }
           .list-item{
             list-style-type: none;
             border:1px solid #eee;
             padding: 0;
         }
         .list-item li:first-child{
             background-color: #3c8dbc;
             color:#fff;
             text-align: center;
             
             
         }
         .list-item li:first-child i{
             margin-right: 5px;
         
         }
        
         .list-item li a{
              cursor: pointer;
         }
          .list-item li
         {
             padding: 5px 8px;
             border:1px solid #eee;
             font-size:13px;
            
         }
       
         .list-item li i{
             margin-right: 3px;
             color: #3c8dbc;
/*             display: none;*/
         }
          .panel-header-modal{
             background-color:#3498DB;
             color:#fff ;
         }
           .panel-header-modal h3{
               margin: 0;
               padding:10px;
         }
         .report-box{
             padding: 8px;
            
         }
             .panel-wrap-modal  .scrollbar {
            /*margin-left: 13px;*/
            height: 100vh;
           
            overflow-y: auto;
     padding-bottom: 30px;
        }
        #style-1::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #style-1::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }

        #style-1::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ccc;
        }
        /* ---scrollbar---  */
   @media only screen and (max-width:767px) { 
      .panel-wrap-modal{
           width:300px;

       }
            .overflow-panel-body {
                overflow: auto;
                height:500px;
            }
    .panel-wrap-modal .scrollbar {
        padding-bottom:30px;
    }
         }
        /*-----------report  collection end-------------------*/