﻿<%@ Page Language="C#" MasterPageFile="~/SiteMasterPage.master" AutoEventWireup="true" CodeFile="Itle_TestAuth.aspx.cs" Inherits="Itle_Itle_TestAuth" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
&nbsp;
&nbsp;
&nbsp;
<br />
<asp:Label ID="Label1" runat="server" Text="You are not authorized for the Test Please contact Administrator!" Font-Bold="True"
                                                    Font-Size="14pt" Font-Names="Verdana" ForeColor="Red"></asp:Label>


</asp:Content>

