﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Itle_Chat_Close.aspx.cs" Inherits="Itle_Itle_Chat_Close" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="lblThanks"  runat="server" Font-Bold="true" ForeColor="Red" Font-Size="Large"
    >Your Partner Logged Out.
    </asp:Label>
     
    
    </div>
    </form>
</body>
</html>
