﻿<%@ Page Language="C#" MasterPageFile="~/SiteMasterPage.master" AutoEventWireup="true"
    CodeFile="Pay_Selected_Filed_Report.aspx.cs" Inherits="PAYROLL_REPORT_Pay_Selected_Filed_Report"
    Title="Untitled Page" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolKit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<asp:UpdatePanel ID="updpnlMain" runat="server">
        <ContentTemplate>
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td class="vista_page_title_bar" valign="top" style="height: 30px">
                EMPLOYEE SELECTED FIELD REPORT&nbsp;
                <!-- Button used to launch the help (animation) -->
                <asp:ImageButton ID="btnHelp" runat="server" ImageUrl="~/images/help.gif" OnClientClick="return false;"
                    AlternateText="Page Help" ToolTip="Page Help" />
            </td>
        </tr>
        <%--PAGE HELP--%>
        <%--JUST CHANGE THE IMAGE AS PER THE PAGE. NOTHING ELSE--%>
        <tr>
            <td>
                <!-- "Wire frame" div used to transition from the button to the info panel -->
                <div id="flyout" style="display: none; overflow: hidden; z-index: 2; background-color: #FFFFFF;
                    border: solid 1px #D0D0D0;">
                </div>
                <!-- Info panel to be displayed as a flyout when the button is clicked -->
                <div id="info" style="display: none; width: 250px; z-index: 2; opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                    font-size: 12px; border: solid 1px #CCCCCC; background-color: #FFFFFF; padding: 5px;">
                    <div id="btnCloseParent" style="float: right; opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);">
                        <asp:LinkButton ID="btnClose" runat="server" OnClientClick="return false;" Text="X"
                            ToolTip="Close" Style="background-color: #666666; color: #FFFFFF; text-align: center;
                            font-weight: bold; text-decoration: none; border: outset thin #FFFFFF; padding: 5px;" />
                    </div>
                    <div>
                        <p class="page_help_head">
                            <span style="font-weight: bold; text-decoration: underline;">Page Help</span><br />
                            <asp:Image ID="imgEdit" runat="server" ImageUrl="~/images/edit.gif" AlternateText="Edit Record" />
                            Edit Record
                        </p>
                        <p class="page_help_text">
                            <asp:Label ID="lblHelp" runat="server" Font-Names="Trebuchet MS" /></p>
                    </div>
                </div>

                <script type="text/javascript" language="javascript">
                            // Move an element directly on top of another element (and optionally
                            // make it the same size)
                            function Cover(bottom, top, ignoreSize)
                            {
                                var location = Sys.UI.DomElement.getLocation(bottom);
                                top.style.position = 'absolute';
                                top.style.top = location.y + 'px';
                                top.style.left = location.x + 'px';
                                if (!ignoreSize)
                                {
                                    top.style.height = bottom.offsetHeight + 'px';
                                    top.style.width = bottom.offsetWidth + 'px';
                                }
                            }
                </script>

                <ajaxToolKit:AnimationExtender ID="AnimationExtender1" runat="server" TargetControlID="btnHelp">
                    <Animations>
                                <OnClick>
                                    <Sequence>
                                        <%-- Disable the button so it can't be clicked again --%>
                                        <EnableAction Enabled="false" />
                                        
                                        <%-- Position the wire frame on top of the button and show it --%>
                                        <ScriptAction Script="Cover($get('ctl00$ContentPlaceHolder1$btnHelp'), $get('flyout'));" />
                                        <StyleAction AnimationTarget="flyout" Attribute="display" Value="block"/>
                                        
                                        <%-- Move the info panel on top of the wire frame, fade it in, and hide the frame --%>
                                        <ScriptAction Script="Cover($get('flyout'), $get('info'), true);" />
                                        <StyleAction AnimationTarget="info" Attribute="display" Value="block"/>
                                        <FadeIn AnimationTarget="info" Duration=".2"/>
                                        <StyleAction AnimationTarget="flyout" Attribute="display" Value="none"/>
                                        
                                        <%-- Flash the text/border red and fade in the "close" button --%>
                                        <Parallel AnimationTarget="info" Duration=".5">
                                            <Color PropertyKey="color" StartValue="#666666" EndValue="#FF0000" />
                                            <Color PropertyKey="borderColor" StartValue="#666666" EndValue="#FF0000" />
                                        </Parallel>
                                        <Parallel AnimationTarget="info" Duration=".5">
                                            <Color PropertyKey="color" StartValue="#FF0000" EndValue="#666666" />
                                            <Color PropertyKey="borderColor" StartValue="#FF0000" EndValue="#666666" />
                                            <FadeIn AnimationTarget="btnCloseParent" MaximumOpacity=".9" />
                                        </Parallel>
                                    </Sequence>
                                </OnClick>
                    </Animations>
                </ajaxToolKit:AnimationExtender>
                <ajaxToolKit:AnimationExtender ID="CloseAnimation" runat="server" TargetControlID="btnClose">
                    <Animations>
                                <OnClick>
                                    <Sequence AnimationTarget="info">
                                        <%--  Shrink the info panel out of view --%>
                                        <StyleAction Attribute="overflow" Value="hidden"/>
                                        <Parallel Duration=".3" Fps="15">
                                            <Scale ScaleFactor="0.05" Center="true" ScaleFont="true" FontUnit="px" />
                                            <FadeOut />
                                        </Parallel>
                                        
                                        <%--  Reset the sample so it can be played again --%>
                                        <StyleAction Attribute="display" Value="none"/>
                                        <StyleAction Attribute="width" Value="250px"/>
                                        <StyleAction Attribute="height" Value=""/>
                                        <StyleAction Attribute="fontSize" Value="12px"/>
                                        <OpacityAction AnimationTarget="btnCloseParent" Opacity="0" />
                                         
                                        <%--  Enable the button so it can be played again --%>
                                        <EnableAction AnimationTarget="btnHelp" Enabled="true" />
                                    </Sequence>
                                </OnClick>
                                <OnMouseOver>
                                    <Color Duration=".2" PropertyKey="color" StartValue="#FFFFFF" EndValue="#FF0000" />
                                </OnMouseOver>
                                <OnMouseOut>
                                    <Color Duration=".2" PropertyKey="color" StartValue="#FF0000" EndValue="#FFFFFF" />
                                </OnMouseOut>
                    </Animations>
                </ajaxToolKit:AnimationExtender>
            </td>
        </tr>
     <tr>
            <td style="padding-left: 20px">
                <asp:Panel runat="server" ID="pnlgrdSelectFieldReport" Height="400px" Width="750px"
                    ScrollBars="Vertical">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <br />
                                <asp:GridView ID="grdSelectFieldReport" CssClass="vista-grid" runat="server" AlternatingRowStyle-BackColor="#FFFFAA"
                                    Height="10px">
                                </asp:GridView>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <br />
                                <asp:Button ID="btnBack" runat="server" Text="Back" OnClick="btnBack_Click" />
                                <%--<asp:Button ID="butExprotToPdf" runat="server" Text="Export to PDF" OnClick="butExprotToPdf_Click" />--%>
                            </td>
                        </tr>
                    </table>
                </asp:Panel>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Panel runat="server" ID="pnlSelectionCriteria">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="padding-left: 10px">
                                <br />
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="25%">
                                            <asp:Label ID="lblFieldsToSelect" runat="server" Font-Bold="true" Text="Fields to select"></asp:Label>
                                            <asp:ListBox ID="lstFieldsToSelect" runat="server" SelectionMode="Multiple" Height="200px"
                                                Width="200px" AppendDataBoundItems="true"></asp:ListBox>
                                        </td>
                                        <td width="10%">
                                            &nbsp;&nbsp;&nbsp;<asp:ImageButton ID="imgNextFieldsToSelect" runat="server" ImageUrl="~/IMAGES/arrow2.jpg"
                                                OnClick="imgNextFieldsToSelect_Click" /><br />
                                            &nbsp;&nbsp;&nbsp;<asp:ImageButton ID="imgPrevFieldsToSelect" runat="server" ImageUrl="~/IMAGES/arrow1.jpg"
                                                OnClick="imgPrevFieldsToSelect_Click" />
                                        </td>
                                        <td width="20%">
                                            <asp:Label ID="lblSelectedFields" runat="server" Font-Bold="true" Text="Selected Fields"></asp:Label>
                                            <asp:ListBox ID="lstSelectedFields" runat="server" SelectionMode="Multiple" Height="200px"
                                                Width="200px" AppendDataBoundItems="true"></asp:ListBox>
                                        </td>
                                        <td width="10%">
                                            &nbsp;&nbsp;&nbsp;<asp:ImageButton ID="imgNextSelectedFields" runat="server" ImageUrl="~/IMAGES/arrow2.jpg"
                                                OnClick="imgNextSelectedFields_Click" /><br />
                                            &nbsp;&nbsp;&nbsp;<asp:ImageButton ID="imgPrevSelectedFields" runat="server" ImageUrl="~/IMAGES/arrow1.jpg"
                                                OnClick="imgPrevSelectedFields_Click" />
                                        </td>
                                        <td>
                                            <asp:Label ID="lblOrderBy" runat="server" Font-Bold="true" Text="Order By"></asp:Label>
                                            <asp:ListBox ID="lstOrderBy" runat="server" SelectionMode="Multiple" Height="200px"
                                                Width="200px" AppendDataBoundItems="true"></asp:ListBox>
                                        </td>
                                        <td width="10%">
                                            &nbsp;&nbsp;&nbsp;<asp:ImageButton ID="imgUpOrderBy" runat="server" ImageUrl="~/IMAGES/uparrow.jpg"
                                                OnClick="imgUpOrderBy_Click" /><br />
                                            &nbsp;&nbsp;&nbsp;<asp:ImageButton ID="imgDownOrderBy" runat="server" ImageUrl="~/IMAGES/downarrow.jpg"
                                                OnClick="imgDownOrderBy_Click" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <br />
                                <asp:Button ID="butCondition" runat="server" ValidationGroup="SelectedFieldReport"
                                    Text="Cick here for filters" OnClick="butCondition_Click" />
                                <asp:Button ID="butShowReport" runat="server" Text="Show Report" OnClick="butShowReport_Click" />
                                <asp:ValidationSummary ID="ValidationSummary1" runat="server" ValidationGroup="SelectedFieldReport"
                                    ShowMessageBox="true" ShowSummary="false" DisplayMode="List" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px">
                                <br />
                                <asp:Panel runat="server" ID="pnlFilters" Width="750px" Height="150px" ScrollBars="Vertical">
                                    <asp:GridView ID="grdvFilters" CssClass="vista-grid" runat="server" EmptyDataText="No Records Found"
                                        AutoGenerateColumns="false" AlternatingRowStyle-BackColor="#FFFFAA">
                                        <Columns>
                                            <asp:BoundField HeaderText="Field Name" DataField="display_field_name" />
                                            <asp:TemplateField HeaderText="Condition">
                                                <ItemTemplate>
                                                    &nbsp;<b>=</b>&nbsp;
                                                    <asp:DropDownList ID="ddlFilters" Width="300px" runat="server" AppendDataBoundItems="true">
                                                    </asp:DropDownList>
                                                    <asp:TextBox ID="txtFilter" runat="server" Text='<%# Eval("SFTRXNO") %>' Visible="false"></asp:TextBox>
                                                </ItemTemplate>
                                            </asp:TemplateField>
                                        </Columns>
                                    </asp:GridView>
                                </asp:Panel>
                            </td>
                        </tr>
                    </table>
                </asp:Panel>
            </td>
        </tr>
    </table>
 </ContentTemplate>
    </asp:UpdatePanel>
   <asp:Button ID="butExprotToPdf" runat="server" Text="Export to PDF" OnClick="butExprotToPdf_Click" />
</asp:Content>
