@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.modebar-btn.plotlyjsicon.modebar-btn--logo{
    display: none !important;
}


@mixin searchSettings(){
    word-wrap: normal;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;            
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    &:focus{
        border-color: #6777ef;
    }
 } 

 .pvtUi{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
     //left select with the table and chart names
     .pvtUiCell{
        border: 1px solid #e1e1e1;
        background: #f7f7f7;
         //top left select
        .pvtRenderer{
            @include searchSettings();
            
        }
     }
     //right select with the count and other functions
     .pvtVals.pvtUiCell{
        //middle select
        .pvtAggregator,.pvtAttrDropdown{
            margin-bottom: 0px;
            @include searchSettings();
        }
        .pvtAttrDropdown{
            margin-top:3px;
        }
        //row ordered
        .pvtRowOrder{

        }
        //column order
        .pvtColOrder{

        }
     }

     //all the containers with the darker background and the border
     .pvtAxisContainer{
        border: 1px solid #e1e1e1;
        background: #f7f7f7;
        .pvtAttr{
            background: #ffffff;
            border: 1px solid #d3d8dd;   
            color: #34395e;
            padding: 0.2rem 0.5rem;         
        }
     }
     

     //the select looking handle
     .ui-sortable-handle{
        //text for the span
        
    }
    //count values 
    span.count{
        color: #007bff;
    }
    //filter box
    .pvtFilterBox{
        border: 1px solid #e1e1e1;
        z-index: 5555;
        border-radius: 0.4rem;
        //header
        h4{
            font-size:1rem;
            span{

            }
            
        }
        p{
            //input to search and   filter values
           .pvtSearch{
            @include searchSettings();
                margin-bottom:0.5rem;
           } 
           button{
            font-size: 0.75rem;
            font-weight: 600;
           }
        }
        //container that contains all the checkboxes top and bottom border
        .pvtCheckContainer{
            max-height: 300px;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
        }
        

    }
    //render area for all the graphs and tables
    .pvtRendererArea{
        border: 1px solid #e1e1e1;
        // width: 100%;
        // max-width:100%;
        // overflow-x: scroll;
        .pvtTable{            
            .pvtVal,.colTotal,.rowTotal,.pvtGrandTotal{
                font-family: 'Overpass', sans-serif;
                font-size:0.78rem;
            }
            .pvtAxisLabel,.pvtColLabel,.pvtTotalLabel.pvtRowTotalLabel,.pvtRowLabel,.pvtTotalLabel.pvtColTotalLabel{
                font-family: 'Overpass', sans-serif;
                font-size:0.75rem;
            }
            tr{
                th{
                    position:sticky;
                    top: 0px;
                }
                
            }
        }
    }
 }

 .top-1{
    position: relative;
    top: 0.2rem;
    font-size: 16px !important;
 }
 .top-0{
    position: relative;
    top: 0rem;
    font-size: 16px !important;
 }