﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FreeTextBoxWrapper.ascx.cs"
    Inherits="FreeTextBoxWrapper" %>
<iframe runat="server" id="ifrmTxt" frameborder="0" width="800" height="400">iframe
</iframe>
<asp:HiddenField ID="hfFtbValue" runat="server" />
