.sn-checkbox-open-in-new-window .form-check-label .form-check-input {
    position: relative;
    margin-right: 7px;
}

.sn-checkbox-use-protocol .form-check-label .form-check-input {
    position: relative;
    margin-right: 7px;
}

.note-editor {
    .note-view {
        .btn-fullscreen {
            display: none;
        }
    }
}
